h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    margin-block: 0.47em;
    color: rgb(108, 102, 111);
    text-shadow: 4px 4px 4px burlywood;
}
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}
li{
    font-family:"Rancho";
    font-size: 24px;
}

.font-effect-neon{
    font-size: 24px;
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font-effect-fire-animation{
    font-size: 28px;
}

span{
    font-family: "Lucida Grande";
}

.main{
    background-image: url(../images/bgimg.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.wrapper{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: stretch;
}
.wrapper div{
    flex:0 0 auto;
    min-width: 0;
    border-radius:2cqb
}
.top{
    height: 140px;
}
.box{
    background-color: rgba(246, 243, 243, 0.65);
    background-blend-mode: overlay;
    height:150px;
}
.col{
    background-color: rgba(246, 243, 243, 0.5);
    background-blend-mode: overlay;
    height: 220px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.foot{
    
    background-color: rgba(246, 243, 243, 0.65);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;

}
.wrapper{
    margin: 10px 0;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
}
[class*=col]{
    float: left;
}
/* .wrapper::after{
    content: "";
    clear: both;
    display: block;
} */

hr{
    background-color: bisque;
    margin: 0px 0px;
}


.font-effect-crackle{
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
}